div {
  border: 3px solid black;
  padding: 5px;
}

.casa {
  height: 500px;
  width: 500px;
  background-color: grey;
  position: relative;
  left: 50px;
  top: 120px;
}

.tejado {
  background-color: red;
  width: 550px;
  height:100px;
  position:relative;
  right: 32px;
  bottom: 120px;
}

.puerta{
  height: 100px;
  width: 100px;
  position: relative;
  top: 275px;
  left: 190px;
  background-color: darkred;
}

.ventana {
  height: 80px;
  width: 80px;
  position: relative;
  bottom: 140px;
  left: 50px;
  background-color: blue;
}

.ventana2{
  height: 80px;
  width: 80px;
  position: relative;
  bottom: 40px;
  left: 350px;
  background-color: blue;
}

h1 {
  font-size: 70px;
  position: relative;
  bottom: 10px;
}
