h1 {
  text-align: center;
  text-transform: uppercase;
}
body{
  background-color: #ffcc99;
  font-family: sans-serif;
}
th{
  background-color: lightskyblue;
  height: 35px;
  vertical-align: bottom;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
}

td {
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 35px;
  border: 1px solid black;
  empty-cells: hide;
}

.fe {
  background-color: #ffb3b3;
}
